.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;

}
#leftContainer {
  display: flex;
}
#rightContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 75px;
  overflow-x: hidden;
  overflow-y: auto;
}
#notesCardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {
  #notesCardContainer {
    flex-direction: row;
  }
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
  #notesCardContainer {
    flex-direction: row;
  }
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
  #notesCardContainer {
    flex-direction: row;
  }

}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
  #notesCardContainer {
    flex-direction: row;
  }
}