.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;
}
#leftContainer {
  display: flex;
}
#rightContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
#notesCardContainer {
  margin-top: 100px;
}