.pad {
  background-color: #fff;
  padding: 35px 35px 0px 35px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.toolbar {
  display: flex;
  background: #fff;
  padding: 0 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.toolbar .btn-light {
  background-color: #fff;
  border: none;
  border-radius: 0;
  margin: 0;
}
.toolbar .btn:hover {
  background-color: #eee;
  background-color: rgba(137, 129, 216, 0.2);
}
.pad .note-title:focus {
  border-color: rgba(137, 129, 216, 0.55);
}
.pad input,
.pad textarea {
  outline: none;
  padding-left: 15px;
}
.pad textarea {
  display: block;
  font-size: 4.5vmin;
  font-weight: 300;
  height: 250px;
  border: none;
  border-bottom: 4px solid transparent;
  width: 100%;
  resize: none;
}
.pad textarea:focus {
  border-color: rgba(137, 129, 216, 0.55);
}
