.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;

}
#leftContainer {
  display: flex;
}
#rightContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 75px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  background-image: 
      -webkit-linear-gradient(rgba(0,0,0,.04) 2px, transparent 0);
  background-image:  
      -moz-linear-gradient(rgba(0,0,0,.04) 2px, transparent 0);
  background-image:   
      -o-linear-gradient(rgba(0,0,0,.04) 2px, transparent 0);
  background-image:    
      -ms-linear-gradient(rgba(0,0,0,.04) 2px, transparent 0);
      -webkit-background-size: 100% 2em;
      -moz-background-size: 100% 2em;
  background-image: 
      linear-gradient(rgba(0,0,0,.04) 2px, transparent 0);
  background-size: 100% 2em;
}
#notesCardContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {
  #notesCardContainer {
    padding-bottom: 60px;
  }
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
  #notesCardContainer {
    padding-bottom: 60px;
  }
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
  #notesCardContainer {
    padding-bottom: 0;
  }
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
  #notesCardContainer {
    padding-bottom: 0;
  }
}