.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;

}
#leftContainer {
  display: flex;
}
#rightContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 75px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  background-image: 
      -webkit-linear-gradient(rgba(0,0,0,.04) 2px, transparent 0);
  background-image:  
      -moz-linear-gradient(rgba(0,0,0,.04) 2px, transparent 0);
  background-image:   
      -o-linear-gradient(rgba(0,0,0,.04) 2px, transparent 0);
  background-image:    
      -ms-linear-gradient(rgba(0,0,0,.04) 2px, transparent 0);
      -webkit-background-size: 100% 2em;
      -moz-background-size: 100% 2em;
  background-image: 
      linear-gradient(rgba(0,0,0,.04) 2px, transparent 0);
  background-size: 100% 2em;
}
#notesCardContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {
  #notesCardContainer {
    padding-bottom: 60px;
  }
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
  #notesCardContainer {
    padding-bottom: 60px;
  }
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
  #notesCardContainer {
    padding-bottom: 0;
  }
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
  #notesCardContainer {
    padding-bottom: 0;
  }
}


.keys {
  padding: 5px 15px;
}
.keys h1 {
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
}
.keys h2 {
  padding: 0 5px;
  text-transform: capitalize;
  font-size: 20px;

}
.list {
  padding: 16px;
  margin: 20px 15px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.14);
}
.item {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
}
.item:not(.item-headings):hover {
  background-color: #fafafa;
}
.item-heading {
  font-weight: bold;
  color: var(--black);
  border-bottom: 2px solid #444;
}
.item > div {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 16px;
  width: 25%;
}
.item-name {
  font-weight: 400;
}
.item-desc {
  width: 50%;
}