@import "../themes/dark.css";

#leftPanelContainer {
    background-color: var(--primary-color);
    height: 100vh;
    min-width: 18vw;
    width: 18vw;
    display: none;
    flex-shrink: 0;
    flex-direction: column;
}
#linkContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 90px;
}
#sharing {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 25px;
}
.shareBtn {
    background-color: transparent;
    color: var(--white-100);
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: 5px 6px;
    margin: 0 auto;
    cursor: pointer;
}
.shareBtn:hover {
    background-color: var(--seconday-color);
}
.link {
    display: flex;
    flex-direction: row;
    color: var(--white-100);
    line-height: 17px;
    padding: 14px 17px 14px 22px;
}
.active {
    border-left: 5px solid var(--white-100);
    padding-left: 17px;
}
.link:hover {
    color: var(--white-100);
    text-decoration: none;
}
.linkText {
    display: flex;
    flex: 1;
}
.linkBadge {
    color: var(--white-70);
}
/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {
    #leftPanelContainer {
        display: none;
    }
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
    #leftPanelContainer {
        display: none;
    }
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
    #leftPanelContainer {
        display: flex;
    }
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
    #leftPanelContainer {
        display: flex;
    }
}