@import "../themes/dark.css";

#navContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 60px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.14);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}
#brand {
    width: 100vw;
    font-family: 'Marck Script', cursive;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--seconday-color);
    color: var(--white-100);
    line-height: 17px;
}

#searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--warm-grey);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1001;
    background-color: var(--white-100);
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.14);
}
#searchForm > input[type=text] {
    display: none;
    font-weight: 600;
    color: var(--brownish-grey);
    line-height: 17px;
}
#addNoteBtn  {
    background-color: var(--primary-color);
    color: var(--white-100);
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}
#addNoteBtn:hover {
    background-color: var(--seconday-color);
}
/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {
    #brand {
        width: 100vw;
    }
    #searchbar {
        display: flex;
    }
    #searchForm > input[type=text] {
        display: none;
    }
    #addNoteBtn {
        display: flex;
    }
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
    #brand {
        width: 100vw;
    }
    #searchbar {
        display: flex;
    }
    #searchForm > input[type=text] {
        display: none;
    }
    #addNoteBtn {
        display: flex;
    }
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
    #brand {
        width: 18vw;
    }
    #searchbar {
        display: flex;
        position: relative;
        flex: 1;
    }
    #searchForm {
        margin-left: 40px;
        margin-right: 15px;
        display: flex;
        flex: 1;
    }
    #searchIcon {
        display: flex;
        opacity: 0.7;
        align-items: center;
        justify-content: center;
        color: var(--black);
        margin-right: 15px;
    }
    #searchForm > input[type=text] {
        display: flex;
        height: 50px;
        border: none;
        width: 100%;
    }
    #addNoteBtn {
        height: 42px;
        width: auto;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 20px;
        margin-right: 30px;
    }
    #addNoteBtn > i {
        margin-right: 10px;
    }
    #addNoteBtn:after {
        content: "CREATE NEW";
    }
    #settings {
        margin-right: 40px;
        display: flex;
        opacity: 0.7;
        align-items: center;
        justify-content: center;
        color: var(--black);
    }
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
    #brand {
        width: 18vw;
    }
    #searchbar {
        display: flex;
    }
    #searchForm > input[type=text] {
        display: flex;
    }
}