@import "~bootstrap-css-only/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@font-face {
    font-family: SavoyeLetPlain;
    src: url("./fonts/Savoye LET Plain1.0.ttf")format("ttf");
}
body {
    background-color: #fafafa;
    background-image: 
        -webkit-linear-gradient(rgba(0,0,0,.1) 2px, transparent 0);
    background-image:  
        -moz-linear-gradient(rgba(0,0,0,.1) 2px, transparent 0);
    background-image:   
        -o-linear-gradient(rgba(0,0,0,.1) 2px, transparent 0);
    background-image:    
        -ms-linear-gradient(rgba(0,0,0,.1) 2px, transparent 0);
        -webkit-background-size: 100% 2em;
        -moz-background-size: 100% 2em;
    background-image: 
        linear-gradient(rgba(0,0,0,.1) 2px, transparent 0);
    background-size: 100% 2em;
}