:root {
    --primary-color: rgb(137, 129, 216);
    --seconday-color: rgb(106, 97, 192);
    --btn-shadow: rgba(0, 0, 0, 0.14);
    --card-shadow: rgba(0, 0, 0, 0.1);
    --header-shadow: rgba(0, 0, 0, 0.15);
    --white-100: rgb(255, 255, 255);
    --white-70: rgba(255, 255, 255, 0.7);
    --black: rgb(52, 52, 52);
    --brownish-grey: rgb(107, 107, 107);
    --warm-grey: rgb(138, 138, 138);
}
