@import "../../components/partial/themes/dark.css";

.editorInnerContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--white-100);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.14);
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.editorTop {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--warm-grey);
}
.title {
  flex: 1;
}
.tools {
  display: flex;
  align-items: center;
}
.tools > a {
  color: var(--warm-grey);
  padding: 10px;
}
.tools > a:hover {
  color: var(--black);
}
.title > input[type=text] {
  width: 100%;
  height: 50px;
  font-size: 22px;
  font-weight: 700;
  line-height: 17px;
  color: var(--black);
  text-overflow: ellipsis;
  border: none;
}
.editorBody {
  display: flex;
  flex: 1;
}
.editorBody > textarea {
  width: 100%;
  color: var(--brownish-grey);
  height: inherit;
  resize: none;
  border: none;
}
.title > input[type=text]:disabled, .editorBody > textarea {
  background-color: var(--white-100);
}
#download, #share {
    display: none;
}
/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
  .editorInnerContainer {
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .editorBody > textarea {
    height: 300px;
  }
  .tools > a {
    padding: 12px;
  }
  #download, #share {
    display: block;
  }
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
}