@import "../../components/partial/themes/dark.css";

.editorInnerContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--white-100);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.14);
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.editorTop {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--warm-grey);
}
.title {
  flex: 1;
}
.title > input[type=text] {
  width: 100%;
  height: 50px;
  font-size: 22px;
  font-weight: 700;
  line-height: 17px;
  border: none;
}
.editorBody {
  display: flex;
  flex: 1;
}
.editorBody > textarea {
  width: 100%;
  height: inherit;
  resize: none;
  border: none;
}
.title > input[type=text]:disabled, .editorBody > textarea {
  background-color: var(--white-100);
}
/*#tools > a {
  color: var(--black);
  padding: 12px;
}
#tools > a:hover {
  color: var(--white-100);
}*/
/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
  .editorInnerContainer {
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .editorBody > textarea {
    height: 300px;
  }
  /*#tools {
    position: relative;
    width: inherit;
    height: inherit;
    background-color: transparent;
    border-radius: 0;
  }
  #tools > a {
    color: var(--warm-grey);
  }
  #tools > a:hover {
    color: var(--black);
  }*/
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
}