@import "../themes/dark.css";

.drop {
  position: relative;
  display: inline-block;
}

.drop button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--warm-grey);
  outline: none;
}

.drop button:hover {
  color: var(--black);
}

.drop-triger {
  cursor: pointer;
}
.drop-triger:active, .drop-triger:focus {
  color: var(--black);
}

.drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 14rem;
  padding: 1.5rem 0;
  margin: 10px 0 0;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 0px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
  border-radius: .25rem;
}
.drop-menu.menu-right {
  left: auto;
  right: 0;
}
.drop-menu.show {
  display: block;
}

.drop-item {
  display: block;
  width: 100%;
  text-align: left;
  padding: 1rem 1.5rem;
  font-size: 15px;
}
.drop-item .slider{
  float: right;
  height: 20px;
  width: 40px;
  margin: 0;
}

.drop-item .slider .toggle:before {
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}