@import "../partial/themes/dark.css";

.noteContainer {
    display: flex;
    background-color: #aaaaaa;
    width: 100%;
    height: 220px;
    border: 1px solid green;
}
/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {
    .noteContainer {
        width: 50%;
    }
}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
    .noteContainer {
        width: 33.33%;
    }
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {
    .noteContainer {
        width: 25%;
    }
}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {
    .noteContainer {
        width: 25%;
    }
}